@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* PRIMARY */
  --blue: hsl(223, 87%, 63%);

  /* SECONDARY */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* NEUTRAL */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  padding: 5rem 3.75rem;
}

main {
  width: 100%;
  text-align: center;
  /* padding: 2rem 4rem; */
}

.logo {
  margin-bottom: 4.25rem;
}

.heading {
  font-size: 4.8rem;
  font-weight: 100;
  margin-bottom: 2.25rem;
  color: hsl(0, 0%, 78%);
}

.heading span {
  color: #000;
  font-weight: 100;
}

.info {
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(209, 33%, 12%, 0.8);
}

.input__wrapper {
  margin-bottom: 5rem;
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  align-items: center;
}

.input__wrapper input {
  max-width: 42.5rem;
  width: 100%;
  /* flex: 0 1 37.5rem; */
  padding: 1.75rem 3rem;
  border-radius: 100rem;
  border: 1px solid var(--pale-blue);
  font-size: 2rem;
  color: hsl(209, 33%, 12%);
}

.input__wrapper input:focus,
.input__wrapper input:active {
  outline: 1px solid var(--pale-blue);
}

.input__wrapper input::placeholder {
  color: hsl(223, 100%, 93%);
  font-size: 1.7rem;
  font-weight: lighter;
}

.input__wrapper button {
  max-width: 20rem;
  width: 100%;
  padding: 1.75rem 3.5rem;
  border-radius: 100rem;
  background-color: hsl(223, 87%, 63%);
  font-size: 1.75rem;
  text-transform: capitalize;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 0.75rem 1rem var(--pale-blue);
}

.input__wrapper button:hover {
  background-color: hsl(228, 87%, 60%);
}

.illustration img {
  max-width: 64rem;
  width: 100%;
  max-height: 50rem;
  height: 100%;
}
.connect {
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.icon {
  color: hsl(223, 87%, 63%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 1px solid hsl(223, 100%, 92%);
  outline-offset: 0.75rem;
  cursor: pointer;
}

.copyright {
  color: hsl(0, 0%, 75%);
  font-size: 1.1rem;
}

@media (max-width: 46.875em) {
  .heading {
    font-size: 3.6rem;
  }
  .input__wrapper {
    flex-flow: column;
    margin-bottom: 8rem;
  }

  .input__wrapper input {
    /* max-width: 50rem; */
  }

  .input__wrapper button {
    max-width: 42.5rem;
  }
}
