@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:wght@300;600;700&display=swap");

:root {
  /* PRIMARY */
  --blue: hsl(223, 87%, 63%);

  /* SECONDARY */
  --pale-blue: hsl(223, 100%, 88%);
  --light-red: hsl(354, 100%, 66%);

  /* NEUTRAL */
  --gray: hsl(0, 0%, 59%);
  --very-dark-blue: hsl(209, 33%, 12%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 2rem;
  min-height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  padding: 5rem 3.75rem;
}

main {
  width: 100%;
  text-align: center;
}

.logo {
  margin-bottom: 4.25rem;
}

.heading {
  font-size: 4.8rem;
  font-weight: 100;
  margin-bottom: 2.25rem;
  color: hsl(0, 0%, 78%);
}

.heading span {
  color: #000;
  font-weight: 100;
}

.info {
  margin-bottom: 4rem;
  font-weight: 300;
  font-size: 2rem;
  color: hsl(209, 33%, 12%, 0.8);
}

.input__wrapper {
  margin-bottom: 5rem;
  display: flex;
  gap: 1.75rem;
  justify-content: center;
  align-items: center;
  position: relative;
}

.input__wrapper .input-container {
  max-width: 42.5rem;
  width: 100%;
}

.input__wrapper input {
  max-width: 42.5rem;
  width: 100%;
  padding: 1.75rem 3rem;
  border-radius: 100rem;
  border: 1px solid var(--pale-blue);
  font-size: 2rem;
  color: hsl(209, 33%, 12%);
}

.input-container .error-msg {
  font-size: 1.3rem;
  text-align: left;
  margin-top: 0.5rem;
  margin-left: 2.75rem;
  font-style: italic;
  color: hsl(354, 100%, 66%, 0.8);
  display: none;
  position: absolute;
}

.input__wrapper input.error {
  border: 1px solid var(--light-red);
}

.input__wrapper input.error::placeholder {
  color: transparent;
}

.input__wrapper input.error-input::placeholder {
  color: hsl(209, 33%, 12%, 0.8);
}

.input__wrapper input:focus,
.input__wrapper input:active {
  outline: 1px solid var(--pale-blue);
}

.input__wrapper input::placeholder {
  color: hsl(223, 100%, 93%);
  font-size: 1.7rem;
  font-weight: lighter;
}

.input__wrapper button {
  max-width: 20rem;
  width: 100%;
  padding: 1.75rem 3.5rem;
  border-radius: 100rem;
  background-color: hsl(223, 87%, 63%);
  font-size: 1.75rem;
  text-transform: capitalize;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;
  box-shadow: 0 0.75rem 1rem var(--pale-blue);
}

.input__wrapper button:focus,
.input__wrapper button:active {
  outline: none;
}

.input__wrapper button:hover {
  background-color: hsl(228, 87%, 60%);
}

.popup {
  max-width: 30rem;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    hsl(223, 100%, 84%) 0% 15%,
    hsl(223, 100%, 78%),
    hsl(223, 100%, 67%)
  );
  height: 15rem;
  color: hsl(0, 0%, 100%);
  padding: 3rem;
  text-align: center;
  line-height: 1.5;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translateX(-50%);
}

.popup.show {
  animation: showPopUp 5s ease 0.25s backwards;
}

@keyframes showPopUp {
  0% {
    top: -50%;
  }
  25% {
    top: -1.25%;
  }
  85% {
    top: -1.25%;
  }
  100% {
    top: -50%;
  }
}

.illustration img {
  max-width: 64rem;
  width: 100%;
  max-height: 50rem;
  height: 100%;
}
.connect {
  margin-top: 6rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 3.2rem;
  justify-content: center;
  align-items: center;
}

.icon {
  color: hsl(223, 87%, 63%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  outline: 1px solid hsl(223, 100%, 87%);
  outline-offset: 0.75rem;
  cursor: pointer;
  transition: 0.4s ease;
}

.icon:hover {
  transform: translateY(0.2rem);
  outline: 1px solid hsl(223, 100%, 90%);
}

.copyright {
  color: hsl(0, 0%, 75%);
  font-size: 1.1rem;
}

@media (max-width: 46.875em) {
  body {
    padding: 7.5rem 3.75rem;
  }

  .heading {
    font-size: 3.6rem;
  }
  .input__wrapper {
    flex-flow: column;
    margin-bottom: 8rem;
  }

  .input__wrapper .error-msg {
    position: static;
  }

  .input__wrapper button {
    max-width: 42.5rem;
  }

  .illustration {
    margin-bottom: 12rem;
  }
}

@media (max-width: 34.375em) {
  .heading {
    font-size: 2.8rem;
  }

  .info {
    font-size: 1.75rem;
  }

  .input__wrapper button,
  .input__wrapper input,
  .input__wrapper .input-container {
    max-width: 35rem;
  }
}

@media (max-width: 23.475em) {
}
